
    </body>

    <!-- Footer -->
<footer style="z-index:-99999" class="font-small fixed-bottom">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-black-50">© 2021 Copyright:
      <a href="https://github.com/AlchemiistCreative" class="text-black"> AlchemiistCreative</a>
    </div>
    <!-- Copyright -->
  
  </footer>

</html>